:root {
  --color-primary: #991b14;
  --color-secondary: #fef3c7;
}

main {
  background-image: url(/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right 0 top 150px;
}
