@import 'tailwindcss';

@theme {
  --font-*: initial;
  --font-sans: 'Open Sans Variable', sans-serif;

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
}

@layer base {
  body {
    color: var(--color-primary);
    background-color: var(--color-secondary);
    font-family: var(--font-sans);
  }

  a {
    text-decoration: underline;
  }

  input,
  select,
  textarea {
    @apply bg-white/25;
    @apply border-2 border-primary/50;
    @apply focus-visible:outline-primary focus:shadow-sm;
    border-radius: var(--radius-md);
    padding: --spacing(0.5) --spacing(2);
  }

  input {
    @apply focus-visible:outline-offset-0;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-primary/60;
  }

  select option {
    color: var(--color-black);
  }
}

@utility col {
  display: flex;
  flex-direction: column;
}

@utility row {
  display: flex;
  flex-direction: row;
}
