NODE_ENV=development

DATABASE_URL=postgres://postgres@localhost/festivapp
DATABASE_DEBUG=false

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_SECURE=false
EMAIL_FROM="Festivapp <festivapp@localhost>"
EMAIL_PASSWORD=

AUTH_CODE=000000

UPLOAD_DIR=public/uploads
